@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

$montserrat: "Montserrat", sans-serif;


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $montserrat;
    margin-top: 2rem;
    gap: 1rem;
    font-weight: 400;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    label {
        margin-bottom: 0.1rem;
        font-family: $montserrat;
    }

    input {
        width: 10rem;
        padding: 0.1rem 0.3rem;
        font-family: $montserrat;
    }

    select {
        width: 10rem;
        padding: 0.1rem 0.3rem;
        font-family: $montserrat;
        background-color: white;
    }


    button {
        background-color: white;
        border: 1px solid #000000;
        padding: 0.1rem 0rem;
        width: 3rem;
        font-family: $montserrat;
    }

}