@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

$montserrat: "Montserrat", sans-serif;


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $montserrat;
    margin-top: 2rem;
    gap: 1rem;

    label {
        margin-bottom: 0.2rem;
    }

    input {
        width: 10rem;
        padding: 0.1rem 0rem;
    }

    select {
        width: 10rem;
        padding: 0.1rem 0rem;
    }

    select:focus {
        min-width: 150px;
        width: auto;
    }

}